.profile__edit {
  width: 120px;
  height: 120px;
  padding: 0;
  margin: 0 30px 0 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50%;
}
.profile__edit:hover > .profile__avatar-button {
    visibility: visible;
    opacity: .8;
}

@media screen and (max-width: 720px) {
  .profile__edit {
    margin: 0;
  }
}